extends layout


block content
  h1=title
  div.newneedwant
    form(method="post")
      div
        div
          span.label  Title :
          input(type="text", name="ntitle", id="editNeedWantTitle")
        div
          span.label  Need  :
          input(type="text", name="need", id="editNeed")
        div
          span.label  Want  :
          input(type="text", name="want", id="editWant")
        div#editNeedWantSubmit
          input(type="submit", value="Share")
  a(href="/")!= "List of Wants and Needs"          